* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #ECF0F1;
    font-family: Arial, Helvetica, sans-serif;
}


.encabezado {
    background-color: white;     
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 16px 24px;            /* DOS VALORES */
    border-bottom: 1px solid #DEE2E6; 
    height: 60px;                  /* Fijamos un alto promedio para que nunca cambie de tamaño */
}

.marca {          
    font-size: 1.25rem;            
    text-decoration: none;
    font-weight: 500;
    color: black;
    flex: 1;
    text-align: start;
}

.nav {
    display: flex;
    align-items: center;           /* Todos los enlaces alineados horizontalmente al centro */
    gap: 16px;                     
    color: black;
    flex:1;
    justify-content: flex-end;
}

.enlace {
    color: black; 
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
}

.activo {
    color: black;                
}


.menu-desplegable {
    position: relative;
    display: flex;
    align-items: center;
    height: 60px; 
}

.caja-flotante {
    position: absolute;
    background-color: #FFFFFF;
    border: 1px solid #DEE2E6;
    border-radius: 6px;
    padding: 8px 0px;
    width: 140px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);

    top: 55px;
    transform: scale(0);
}

.boton-javascript {
    display: flex;
    color: #212529;
    text-decoration: none;
    font-size: 1rem;
    padding: 6px 16px;
}

.boton-javascript:hover {
    background-color: #F8F9FA;
}


.menu-desplegable:hover .caja-flotante {
    transform: scale(1);
}


.contenedor-principal {
    display: flex;
    justify-content: center;
    padding: 48px 16px;
}

.grupo-busqueda {
    display: flex;
    width: 320px;
}

.decoracion-arroba {
    background-color: #E9ECEF;
    color: #212529;
    border: 1px solid #CED4DA;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: 6px 0px;
}

.caja-entrada {
    width: 100%;
    background-color: #FFFFFF;
    color: #212529;
    border: 1px solid #CED4DA;
    border-left: none;
    padding: 6px 12px;             
    font-size: 1rem;
    border-radius: 0px 6px;
    outline: none;
}

.pie-de-pagina {
    padding: 16px;
}

.seccion-principal {
    display: flex;
    background-color: #2585eb2c;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 80px 50px;
}

.sans {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
}

.boton-principal {
    background-color: #091F2C;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}

.boton-secundario {
    background-color: white;
    color: #091F2C;
    border: 2px solid #091F2C;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 6px;
}

.img{
    height: 50px;
}

.e{
    display: flex;
    align-items: center;
}

.hover {
    transition: transform 0.3s ease, margin-left 1s ease
}

.hover:hover {
    transform: scale(1.2);
   /* .1 añade 10% en tamaño */
    margin-left: 10px;
}